<form class="form-border">
    <h2>{{header}} book</h2>
    <hr>
    <br>
    <div class="form-container">
        <div class="column1">
            <mat-form-field class="input-form-field" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="book.title" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <br>
            <mat-form-field class="input-form-field" appearance="fill">
                <mat-label>Cover</mat-label>
                <ngx-mat-file-input accept="image/*" [(ngModel)]="cover" [ngModelOptions]="{standalone: true}"></ngx-mat-file-input>
            </mat-form-field>
            <br>
            <mat-form-field class="input-form-field" appearance="fill">
                <mat-label>Genre</mat-label>
                <input matInput [(ngModel)]="book.genre" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <br>
            <mat-form-field class="input-form-field" appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)]="book.author" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="column2">
            <mat-form-field class="content-form-field" appearance="fill">
                <mat-label>Content</mat-label>
                <textarea class="content-textarea" rows="13" matInput [(ngModel)]="book.content" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="button-container">
        <button mat-flat-button color="primary" (click)="onEditAddClick()" class="button-style">{{header}}</button>
        <button mat-flat-button color="accent" (click)="onClearClick()" class="button-style">Clear</button>
    </div>
</form>