<div *ngIf="book" class="book-info-container">
    <img class="cover" src="{{book.cover}}" alt="Loading...">
    <div>
        <h2>{{book.title}}</h2>
        <br>
        <div class="flex-container">
            <p class="stats-text">Rating: {{book.rating}}</p>
            <p class="stats-text">Reviews: {{book.reviewNumber}}</p>
        </div>
    </div>
    <div class="buttons-container">
        <button mat-raised-button (click)="OpenDialogWindow()" class="action-button"><mat-icon class="icon">visibility</mat-icon></button>
        <a mat-raised-button class="action-button" routerLink="/edit/{{book.id}}"><mat-icon class="icon">edit</mat-icon></a>
    </div>
</div>