.flex-container {
    display: flex;
}

.book-info-container {
    border: 2px black solid;
    border-radius: 7px;
    height: 160px;
    margin: 20px;
    display: flex;
}

.auto-flex {
    display: flex;
    flex: auto;
}

.stats-text {
    margin: 10px;
}

.title-container {
    width: 100%;
    height: 40px;
    align-self: center;
}

.buttons-container {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.action-button {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 150px;
    max-width: 150px;
    align-self: center;
    min-height: 60px;
    float: left;
}